body {
  background-color: #222831;
  color: #ffffff;
}

p {
  margin: 0;
}
.box {
  width: 320px;
  height: 600px;
  border-radius: 50px;
  border: #ffffff 10px solid;
  margin: 75px auto;
  padding: 20px;
  background-image: url(../images/galaxy.jpeg);
}

.notch {
  background-color: #ffffff;
  width: 150px;
  height: 25px;
  border-radius: 75px;
  position: absolute;
  top: 75px;
  right: 640px;
}

.top {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 10px;
}

.pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.smallbox {
  width: 290px;
  height: 105px;
  border-radius: 25px;
  background-color: #414a4c;
  padding: 10px;
  margin-top: 5px;
  position: relative;
  right: 15px;
}
.inside {
  display: flex;
}
.inside1 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.grey {
  color: grey;
  font-size: 0.75rem;
  position: relative;
  bottom: 67px;
}
.mid {
  margin-left: 5px;
}
.footer {
  margin-top: 165px;
}
.small {
  position: relative;
  bottom: 5px;
}
.time1 {
  margin-top: 45px;
}
.centre {
  text-align: center;
}
.time1 {
  font-size: 3.5rem;
}
.top1 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.btn {
  border-radius: 50px;
}
